/* -------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* --------------------------------------- */
/* HEADER */
/* --------------------------------------- */
.row{
  max-width: 1140px;
  margin: 0 auto 0 auto;
}

/* ------HEADING------ */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
  url(img/hero.jpg);
  /* background image centering */
  background-size: cover;
  background-position: center;
  /*---"vh" meaning its 100% of the viewing height */
  height: 100vh;
}

.hero-text-box{
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

/* -------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------- */
h1{
  margin: 0;
  color: #fff;
  font-size: 240%;
  text-transform: uppercase;
  word-spacing: 4px;
  letter-spacing: 1px;
}

/* ------ BUTTONS ------ */

/* Sometimes we see webpages have different text color
when returning back after selecting that text... to fix that use
tag - .btn:link, .btn:visited - below...*/
.btn:link,
.btn:visited{
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  margin-top: 50px;
}
.btn:hover,
.btn:active {
  background-color: #CB5A00;
}

.btnHungry:link,
.btnHungry:visited{
  background-color: orange;
  border: 2px solid orange;
  color: #fff;
  /* Separate the two button a bit.. */
  margin-right: 15px;
}
.btnHungry:hover,
.btnHungry:active {
  background-color: #CB5A00;
}

.btnMore:link,
.btnMore:visited{
  border: 2px solid orange;
  color: orange;
}
.btnMore:hover,
.btnMore:active {
  color: #fff;
}
